.eventrade__login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eventrade__login h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
    color: #fff;
}

.eventrade__login p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: var(--color-text);

    margin-top: 1.5rem;
}

.eventrade__login input {
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 27px;
    background: #fff;
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius:  5px;
    border-bottom-left-radius: 5px;
}

.eventrade__login button {
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    background: #FF4820;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    padding: 0 1rem;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius:  5px;
    border-bottom-left-radius: 5px;
}