{% load static %}
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content = "IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> -->

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
      }
      
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }
    </script>
    <script src="{% static '' %}"></script>
    <script src="{% static 'web-resources/js/home_page.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'web-resource/css/main.css' %}" />
    <title>Home</title>
    <div id="mySidenav" class="sidenav">
        <a class="navbar-brand" href="#">
          <!-- <img
            class="rounded-circle"
            src="{% static 'game_zone/images/CU_Logo.png' %}"
            alt="CU Boulder Logo"
            width="30"
            height="30"
          /> -->
        </a>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        {% if user.is_authenticated %}
          <!-- <a href="{% url 'playergame-create' %}">Log a Game</a>  -->
          <a href="{% url 'logout' %}">Log Out</a>
          <a href="{% url 'profile' %}">Profile</a>
        {% else %}
          <a href="{% url 'login' %}">Sign In</a>
        {% endif %}
        <a href="{% url 'eventrade-home' %}">Home</a>
        <a href="{% url 'eventrade-about' %}">About Us</a>
        
      </div>
      
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
      <div id="main" class = "center">
          <h1>
            <!-- <img src="{% static 'game_zone/images/GZ_Logo.png' %}" 
            class="rounded mx-auto d-block" 
            alt="Logo" 
            style="width:250px"> -->
          </h1>
        </div>
  </head>
  <body style="background-color:LightBlue;"> 
    <div class = "container">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tag }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
      {% block content %} {% endblock %}
    </div>


      <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"
    ></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"
    ></script>
  </body>
</html>